.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-dark {
    background-color: #343a40!important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

article, aside, figcaption,
figure, footer, header, hgroup, main,
nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    
}